{{#if products.length }}
    <table class="table-products">
        <caption>Productos</caption>
        <thead>
            <tr>
                <th scope="column">Id</th>
                <th scope="column">Nombre</th>
                <th scope="column">Precio</th>
                <th scope="column">Descripción</th>
                <th scope="column">Categoria</th>
                <th scope="column">Stock</th>
                <th scope="column">Marca</th>
                <th scope="column">Imagen</th>
                {{!-- <th scope="column">Imagen</th> --}}
                <th scope="column">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr data-id="{{id}}">
                    <td class="cell-id">{{id}}</td>
                    <td class="cell-name">{{name}}</td>
                    <td class="cell-price">{{price}}</td>
                    <td class="cell-description">{{description}}</td>
                    <td class="cell-categoria">{{category}}</td> 
                    <td class="cell-stock">{{stock}}</td> 
                    <td class="cell-brand">{{brand}}</td> 
                    <td class="cell-image">{{image}}</td>
                    <td>
                        <button class="btn-delete">❌</button>
                        <button class="btn-edit">🖋️</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Se encontraron {{products.length}} productos</td>
            </tr>
        </tfoot>
    </table>
{{else}}
    <p>No se encontraron productos</p>
{{/if}}